{
  statement {
    effect  = "Allow"
    actions = ["sts:AssumeRoleWithWebIdentity"]

    principals {
      type        = "Federated"
      identifiers = ["${oidc_provider_arn}"]
    }

    condition {
      test     = "StringEquals"
      variable = "${oidc_provider_url}:sub"
      values   = ["system:serviceaccount:kube-system:${aws_lb_controller_sa_name}"]
    }

    condition {
      test     = "StringEquals"
      variable = "${oidc_provider_url}:aud"
      values   = ["sts.amazonaws.com"]
    }
  }
}